@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* gloabal */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.Home{
    padding: 10px 0px;
}

a{
    color: inherit !important;
    text-decoration: none;
}
.hr{
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: #f06e3f;
}
.hr2{
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background-color: #f06e3f;
    position: relative;
    margin: 10px 0px;
}
li, ul{
    list-style: none;
}
.my-btn{
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #083588;
    color: #fff;
    transform: scale(1);
    border: 1px solid #fff;
    transition: all ease-in-out .4s;
    color: #fff;
}
.my-btn:hover{
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #164296;
    color: #fff;
    transform: scale(.9);
    border: 1px solid #fff;
}
.big-header{
    padding: 10px 0;
    color: #2d71ee;
}
/* navbar style */
nav{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65px;
}
.logo span{
    font-size: 1rem;
    color: #181818;
}
.Home img{
    width: 100%;
    object-fit: cover;
}
.servuce-card{
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    /* margin: 10px; */
    border-radius: 5px;
    border: none;
    transition: all ease-in-out .3s;
}
.services .servuce-card:hover{
    box-shadow: 1px 0px 10px -2px #000;
}
.services .servuce-card h2{
    font-size: 60px;
    color: #2d71ee;
}
.experience .servuce-card h2 span{
    font-size: 2.5rem;
    color: #2d71ee;
    
    
}
.experience .servuce-card h2 {
    color: #181818;
    font-size: 1rem;
    line-height: 40px;
    padding: 10px 0px;
    
}
.experience .servuce-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:4px 4px 14px -10px #000;;
    height: 145px;
}
.contact-us input{
    width: 100%;
}

/* footer style */
footer .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .social .facebook:hover{
    color: rgb(59, 123, 241);
}
footer .social .twitter:hover{
    color: #93b9ff;
}
footer .social .instagram:hover{
    color: #e71275;
}
footer .social .linkedin:hover{
    color: rgb(9, 70, 184);
}
footer .social .whatsapp:hover{
    color: #0cb44d;
}
footer .social li a{
    font-size: 25px;
    padding: 0 10px;
}

footer .infos img{
    width: 45px;
    object-fit: cover;
    mix-blend-mode: multiply;
    
}
footer .h3 {
    color: #2d71ee;
    font-family: 'Lobster', cursive;
}
